.clock {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clock-text {
    font-size: 5em;
}

.clock-next-alarm {
    margin-top: 15px;
}